book-recommendation-engine-using-knn/caderno.ipynb
book-recommendation-engine-using-knn/*.csv
data_augmentation_cifar10/*
linear-regression-health-costs-calculator/insurance.csv
notebooks/*
neural-network-sms-text-classifier/*
rock-paper-scissors/__pycache__/*
rock-paper-scissors/caderno.ipynb
rock-paper-scissors/main.py
rock-paper-scissors/README.md
rock-paper-scissors/RPS_game.py
rock-paper-scissors/test_module.py
rock-paper-scissors/training_ckpts/*
training_ckpts/*
caderno.ipynb
dogs_of_cats.h5
shakespeare_rnn.h5
